<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="auth0:Domain" value="voling-site-gdpr.auth0.com"/>
      <add key="auth0:ClientId" value="4wSZg9pfvOEnvT4KYHv6U1MpTwLiqju9"/>
      <add key="auth0:ClientSecret" value="KJNQQ3wNEkoe6f6LYNipcmpO6D0m0mlPMf-CzNNqplP0tDcIdu4wHEum7cetaCn-"/>
      <add key="BaseURL" value="https://gdpr-unir-api.herokuapp.com" />
      <!--<add key="BaseURL" value="http://localhost:5001" />  -->
  </appSettings>
  <system.webServer>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <customErrors defaultRedirect="SessionOut.aspx" mode="RemoteOnly"/>
    <compilation debug="true"/>
    <authentication mode="Forms">
      <forms name="WEBURL.auth" enableCrossAppRedirects="true" loginUrl="Default.aspx"
             defaultUrl="Default.aspx" protection="All" timeout="20" path="/" />
    </authentication>
  </system.web>
</configuration>
